/*== imports ==*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,500,600,700|Sintony:400,700|Roboto+Condensed:300,400,500,600,700,300italic,400italic,700italic&subset=latin,cyrillic);




/*== TAGS ==*/
html {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
   /* background-image: url("../img/dc9.png");
    background-repeat: repeat;*/
}

tr { 
border:none;
}

td, th {
    border:solid;
    border-width: thin;
    padding-right: 20px;
    padding-left: 5px;
}



/*=== menu ==
=====================*/

.top-nav-fixed ul, .top-sub-nav-fixed ul {
    text-decoration: none;
    list-style: none;
    height: 100%;
    display: inline-block;
    margin-bottom: -1px;

}

.top-nav-fixed ul li, .top-sub-nav-fixed ul li {
    display: inline-block;
    margin-right: 45px;
    padding-bottom: 5px;
    transition: border 1s, background-color .5s;
    border-top: solid 2px ghostwhite;

}
.top-nav-fixed a, .top-sub-nav-fixed  a {
    text-decoration: none;
    color: black;

}
.top-nav-fixed ul li:hover, .top-sub-nav-fixed ul li:hover {
    border-top: solid 2px #ff6a16;
    transition: border 1s, background-color .5s;
}

.nav {
    margin-top: 5px;
}



/*== div structure
===========================*/

.top-nav-fixed {

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: white;
    width: 100%;
    min-width: 720px;
    position: fixed;
    text-align: center;
    min-height: 60px;
    border-bottom: solid 1px grey;
    padding-top: 10px;
    background-image: url('../img/camo6.png');
    z-index: 5000;
}

.top-sub-nav-fixed {

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: white;
    width: 100%;
    min-width: 960px;
    position: fixed;
    top: 20px;
    text-align: center;
    min-height: 10px;
    height: 28px;
    max-height: 28px;
    border-bottom: solid 1px grey;
    transition: top 1s;
    z-index: 5000;

}
.nav.sub-nav {
    margin-top: 0;
}

.top-sub-nav-fixed.active {
    top: 76px;
    transition: top 1s;
}

.info-menu {
    cursor: pointer;
}

.relative-container {
    max-height: 28px;
}

.main-container {
    width: 960px;
    padding-top:  79px;
    margin-left: auto;
    margin-right: auto;



}

.image-container {
    min-height: 340px;
    background-image: url('../img/background.jpg');
}


.content-container {
    font-family: 'Roboto Condensed', "Source Sans Pro", "Arial", "Verdana", sans-serif;
    min-height: 100px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}
.content-container img {
    max-width: 100%;
    border-radius: 2px;
}

.thumb-container {
    display: inline-block;
    width:200px;
    text-align: center;
    overflow: hidden;
    margin-top: 5px;
}

.thumb img {
    display: block;
    margin: auto;
}

.delete-upload {

}

.footer-container {
    font-family: 'Open Sans', "Source Sans Pro", "Arial", "Verdana", sans-serif;
    text-align: center;
    border-top: solid 1px grey;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    text-decoration: none;
    font-size: 0.9em;

}
.footer-container a{
    text-decoration: none;
    color: inherit;
}




/*=== Spans
===*/
.top-logo {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.65em;
    padding-right: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
 .top-logo a {
     text-decoration: none;
     font-family: 'Roboto Condensed', sans-serif;
     font-style: italic;
     font-weight: 300;
     color: #333333;
 }


/* LOGIN MODAL
===========================================*/

.login-container {
    text-align: center;
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-top: 60px;
    background-color: white;
}

/* NOSCRIPT
================================*/

.no-script {
    width: 100%;
    background-color: #ffff00;
    text-align: center;
}
/* Media queries for mobile menu
==================================*/

@media only screen and (max-device-width: 480px) {

    .top-nav-fixed ul, .top-sub-nav-fixed ul {
        text-decoration: none;
        list-style: none;
        height: 100%;
        display: inline-block;
        margin-bottom: -1px;

    }

    .top-nav-fixed ul li, .top-sub-nav-fixed ul li {
        display: inline-block;
        margin-right: 45px;
        padding-bottom: 5px;
        transition: border 1s, background-color .5s;
        border-top: solid 2px ghostwhite;

    }
    .top-nav-fixed a, .top-sub-nav-fixed  a {
        text-decoration: none;
        color: black;

    }
    .top-nav-fixed ul li:hover, .top-sub-nav-fixed ul li:hover {
        border-top: solid 2px #ff6a16;
        transition: border 1s, background-color .5s;
    }

    .nav {
        margin-top: 5px;
        font-size: x-large;
        font-weight: 400;
    }

    .top-nav-fixed {

        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        background-color: white;
        width: 100%;
        min-width: 720px;
        position: fixed;
        text-align: center;
        min-height: 60px;
        border-bottom: solid 1px grey;
        padding-top: 20px;
        background-image: url('../img/camo6.png');
        z-index: 5000;
    }

    .top-sub-nav-fixed {

        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        background-color: white;
        width: 100%;
        min-width: 960px;
        position: fixed;
        top: 20px;
        text-align: center;
        min-height: 10px;
        height: 50px;
        max-height: 50px;
        border-top: solid 1px grey;
        border-bottom: solid 1px grey;
        transition: top 1s;
        z-index: 5000;

    }
    .nav.sub-nav {
        margin-top: 0;
        padding-top: 10px;
    }

    .top-sub-nav-fixed.active {
        top: 100px;
        transition: top 1s;
    }

    .top-logo {
        font-family: 'Roboto Condensed', sans-serif;
        font-style: italic;
        font-weight: 300;
        font-size: 1.65em;
        padding-right: 10px;
        margin-bottom: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
    .top-logo a {
        text-decoration: none;
        font-family: 'Roboto Condensed', sans-serif;
        font-style: italic;
        font-weight: 300;
        color: #333333;
    }


}