body {
	color: black;
	background-image: url(naamloos.png);
	font-family: arial, sans-serif;
	margin: 10;
	padding: 10;
}
h1 {
	color : black;
	text-align: centre;
}

#img{
	border-top: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 1px solid black;
	width: 1000px;
	height: 150px;
	margin-left: auto;
	margin-right:auto;
	box-shadow: 10px 10px 5px darkolivegreen;
}

#menu{
	width: 1002px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}
	
#menu ul{
	margin: 0;
	border-bottom: 1px solid #000000;
	padding-top: 10px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 3px;
}

#menu ul li{
	display: inline;
}

#menu li a{
	padding: 4px 20px;
	border: 1px solid #000000;
	list-style-image: none;
	color: ivory;
	display: inline;
	background-color: maroon;
	text-decoration: none;
	font-family: verdana, arial, sans-serif;
	border-radius: 5px 5px 0px 0px;
}

#menu li a.selected{
	border-bottom: 1px solid transparent;
	background-color: ivory;
	color: black;
}

.text {
	background: ivory;
	font-family: arial, sans-serif;
	color: black;
	width: 980px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	border-left: 1px solid #000000;
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 10px 10px 5px darkolivegreen;
}

.footer {
	background: ivory;
	font-family: arial, sans-serif;
	color: black;
	width: 170px;
	padding: 10px;
	margin-left: 790px;
}




.imageleft {
	padding: 5px;
	border: 0px;
	margin: 0px;
	position: left;
}
.imageright {
	padding: 5px;
	border: 0px;
	margin: 0px;
	position: right;
}

# menu li a:visited{
	color:ivory;
}